 nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    padding: 0.7rem 1.7rem;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    bottom: 2rem;
   display: flex;
   gap: 1.1rem;
    border-radius: 3rem;
    backdrop-filter: blur(10px);
    z-index: 2;
 }

 /* nav a {
    background: rgba(0, 0, 0, 0.3);
 } */


 nav a:hover{
    background: rgba(0, 0, 0, 0.9);
}

 nav a:active{
    color: var(--color-white);
    background: var(--color-bg);
 }
